@inject NavigationManager NavigationManager

<button @onclick="GoToHome"
    class="btn btn-outline-warning home-button">
    <i class="oi oi-star"></i>
</button>

@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
